*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #208BFF;
    font-family: 'Bebas Neue', cursive;
}

.click{
    color: #ffff;
}

.contacto{
    color:#ffffff;
    font-size: 20px;
    font-weight: 800px;
}
.titulo-contacto{
    color:#ffffff;
}
#localization{
    color:#ffffff;
}
.direccion{
    color:#ffffff;
    margin-left: 25px;
}

.siguenos{
    color: white;
    text-align: center;
    position: relative;
    top: 12px;
    font-weight: 800;
}
.socialmedia{
    color: white;
}

.container{
    width: 95%;
    /* max-width: 1200px; */
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

.projects{
    width: 92%;
    height: auto;
    padding: 5px;
    margin: 2% 4%;

}

.container--modifier{
    width: 60%;
    height: 100%;
    margin: 10px;
}

.hero{
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255);
}
.nav__hero{
    background-color: white;
    color: #2a57b4;
    height: auto;
    border-bottom: 1px solid #2a57b4;;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}
.logo_name{
    font-size: 24px;
}

.link{
    display: inline-block;
    color: #2a57b4;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}
.link:hover{
    color: white;
    background-color:#88e0f0;
    border-radius: 4px;
}
.link--active{
    color:#2a57b4;
    font-weight: 700;
    font-size: 18px;
}
.point{
    color: #2a57b4;
}
.portada{
    width: 100%;
    height: 100%;
    /* min-height: 93vh; */
    
}
/* .hero_main{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
} */
.title{
    font-size: 56px;
    font-weight: 300;
    color: #2a57b4;
}
.title--active{
    color: #2a57b4;
    font-weight: 700;
}
.copy{
    font-size: 24px;
    color: #2a57b4;
    text-shadow: 0 8px 8px #00000050;
    margin: 15px 0;
}
.copy_active{
    font-weight: 700;
}
.imagen1{
    object-fit: cover;
    height: calc(70vh - 50px);
}
.cta{
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg, #2a57b4 0%,#ffff 200%);
    text-decoration: none;
    color: white;
    font-weight: 700;
    box-shadow: 0 8px 8px #00000050;
    border-radius: 6px;
}

.cta:hover{
    background: #00B0F0;
    color: white;
}
.cta:active{
    background: #016e96;
    color: white;
}
/* Services */

.services{
    background: #f8f8f8;
    width: 100%;
    height: auto;
    padding: 20px;

}
.subtitles{
    font-size: 30px;
    color: #2a57b4;
    margin: 15px;
}
.subtitles--modifier{
    text-align: center;
    margin-bottom: 0;
    color: #2a57b4;
}
.copy__section{
    color: #2a57b4;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}
.copy__section--modifier{
    text-align: center;
    margin-bottom: 32px;
}
.container-cards{
    display: flex;
    justify-content: space-around;
    height: auto;
    flex-wrap: wrap;
    padding: 10px;
}
.card{
    width: 40%;
    padding: 20px;
    overflow: hidden;
    color: #2a57b4;
    text-shadow: 0 8px 8px #00000033;
    /* background: linear-gradient(180deg, #ffff 0%,#009fb8 200%); */
    border-radius: 1rem;
    height: auto;
    position: relative;
    text-align: left;
    margin-bottom: 5px;
    box-shadow: 0 0 6px #00000033;
}
.card__img{
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}
.cards__text{
    text-align: left;
    width: 95%;
    margin: 0 auto;
}

.card__list{
    color:#2a57b4;
    font-weight: 700;
    margin: 25px 0 12px;
    font-size: 18px;
}
.card__title{
    font-size: 24px;
    color: #2a57b4;
    margin-bottom: 8px;
}
.card__copy{
    color: rgb(161, 161, 161);
    margin-bottom: 16px;
}
button{
    border-color: transparent;
}
.card__button{
    display: block;
    background: linear-gradient(180deg, #2a57b4 0%,#ffff 200%);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: #FFFF;
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}
.card__button:hover{
    background: #00B0F0;
    color: #ffff;
}
.card__button:active{
    background: #016e96;
    color: white;
}

.card__date{
    color: #2a57b4;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.container-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    margin: 14px;
    border-radius: 10px;
    box-shadow: 0 0 6px #00000020;
}

.background{
    width: 68%;
    height: 280px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
}
.background-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.background__text{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 15px;
    color: white;
}
.background_title{
    font-size: 24px;
    margin-bottom: 4px;
    color: #ffff;
}
.background__copy{
    width: 95%;
    text-shadow: 2px 2px 8px gray;
    color: #ffff;
}
.check{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto; 
}
.check__item{
    width: 30%;
    padding-right: 10px;
    display: flex;
    border-right: 2px solid #009fb8;
}

.bx-check{
    background: linear-gradient(180deg, #2a57b4 0%,#ffff 200%);
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
    color: white;
    border-radius: 50%;
    font-size: 40px;
}
.check__number{
    font-weight: 700;
}
.check__copy{
    font-weight: 300;
}

.newsletter{
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    height: auto;
    font-family: inherit;
    position: relative;
    border-radius: 6px; 
}

.newsletter:hover{
    background: #00B0F0;
    color: #ffff;    
}

.newsletter--modifier{
    margin: 0;
    width: 80%;
}
.newsletter__input{
    width: 100%;
    height: 100%;
    padding: 22px 10px;
    outline: none;
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid #009fb8;
}
.newsletter__submit{
    position: absolute;
    right: 8px;
    top: 10%;
    height: 80%;
    background: linear-gradient(180deg, #2a57b4 0%,#ffff 200%);
    color: white;
    padding: 0 15px;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
}
.footer{
    background-color: rgb(248, 248, 248);
    color: rgb(41,86,177);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 5px auto;
}
.item__contact{   
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: center;
    color:#208BFF;
    font-size: 16px;
    margin: 5px 15px;
}
.contact__title{
    font-size: 16px;
}

.carousel-item{
    transition: transform 0.0001s ease, opacity 0.0001s ease-out;
    
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: #2a57b4;
    border-radius: 50px;
}

.modal-body p{
    color: rgb(161, 161, 161);
}
.btn btn-secondary{
    background-color: crimson;
}
.modal-header{
    background: linear-gradient(180deg, #2a57b4 0%,#ffff 200%);
}
.modal-title{
    color: white;
}
.mb-3{
    display: flex;/* 
    justify-content:space-evenly ; */
    align-items: center;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 60%;
}
.form-control{
    margin: 5px 0;
}

h3, .contact__title, .bx{
    color: rgb(41,86,177);
}
.redes__sociales{
    width: 100%;
    height: 31%;
    background-color:rgb(102,153,236);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0; 
}
a, .redes__sociales--item{
    display: inline-block;
    color:#208BFF;
    
}
.icon__social-media{
    margin: 3px;
}
h2, .subtitles{
    color: rgb(41,86,177);
    margin: 0;
}

.email{
    margin: 40px;
}

.nosotros{
    width: 100%;
    height: auto;
    background-color: rgb(252, 252, 252);
    padding: 10px;
    margin: 0;
}
.seccion__nosotros{
    text-align: center;
}

.nosotros__modifier{
    text-align: center;
    font-size: 24px;
    margin: 0;
}
.nosotros__img{
    width: 80%;
    height: auto;
}
p, .parrafo__principal{
    color: rgb(41,86,177);
}
